<!DOCTYPE html>
<html lang="en">

<img class="img_det" src={{ dir }} />

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>

<body class="centre">
<h1>Fruit detection</h1>
<ul>
    {% for m in menu -%}
    <li>{{m}}</li>
    {% endfor -%}
</ul>
</body>

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<form action="/" method="post">
    <p><label>Link:</label>
    <p><textarea name="link" rows=10 cols=40></textarea>
    <p><input class="button" type="submit" value="Detect" />
</form>

</html>

